{% extends 'auctions/layout.html' %}

{% block title %}
    {{category}} Auctions
{% endblock %}

{% block body %}
    <div class="listings">
        <ul class="listing-nav">
            {% for auctions in category_auctions %}
                <li class="listing-item">
                    <p class="listing-item_name">
                        <a class="item-link" href="{% url 'listing_page' auctions%}">
                            {{auctions}}
                        </a>
                    </p>
                    {% if auctions.image %}
                        <img src="{{auctions.image.url}}" alt="{{auctions.item_name}}" class="listing-img">
                    {% endif %}
                    <br>
                    <div class="listing-price">
                    <!--Description:--> {{auctions.description}} <br>
                    
                        Price: ${{auctions.price}}
                    </div>
                </li>
            {% endfor %}
        </ul>
    </div>
{% endblock %}