{% extends "auctions/layout.html" %}

{% block body %}
    <h2>Active Listings</h2>
        <ul>
            {% for auctions in auction_listings %}
            <li>
                {% if auctions.image %}
                    <img src="{{auctions.image.url}}" alt="{{auctions.item_name}}">
                {% endif %}
                <a href="{% url 'listing_page' auctions%}">{{auctions}}</a> <br>
                Description: {{auctions.description}} <br>
                Price: ${{auctions.price}} <br>
            </li>
            {% endfor %}
        </ul>
{% endblock %}