{% extends 'auctions/layout.html' %}

{% block title %}
    Auctions
{% endblock %}

{% block body %}
    {{name}} <br>

    {% if watchlist %}
        <a href="{% url 'add_to_watchlist' name %}">
            {{watchlist}} <br>
        </a>
    {% endif %}

    {% if remove %}
        <a href="{% url 'remove' name %}">
            {{remove}} <br>
        </a>
    {% endif %}

    {% if close %}
        <a href="{% url 'close' name %}">
            {{close}}
        </a> <br>
    {% endif %}

    <img src="{{item.image.url}}"><br>
    {{ item.description }}<br>
    Price: ${{item.price}} <br>

    {% if current_bid %}
        Current Bid: ${{current_bid}}
    {% endif %}

    <form action="{% url 'listing_page' name %}" method="post">
        {% csrf_token %}
        {{ form }}
        <input type="submit">
    </form>

    {% if message %}
        {{message}} <!-- Maybe style this red, Like an error message -->
    {% endif %}
{% endblock %}