{% extends 'auctions/layout.html' %}

{% block title %}
    {{name}}
{% endblock %}

{% block body %}

    {% if watchlist %}
        <a href="{% url 'add_to_watchlist' name %}">
            {{watchlist}} <br>
        </a>
    {% endif %}

    {% if remove %}
        <a href="{% url 'remove' name %}">
            {{remove}} <br>
        </a>
    {% endif %}

    {% if close %}
        <a href="{% url 'close' name %}">
            {{close}}
        </a> <br>
    {% endif %}

    {{name}} <br>

    {% if item.image %}
        <img src="{{item.image.url}}" alt="{{item.item_name}}"><br>
    {% endif %}
    {{ item.description }}<br>
    Price: ${{item.price}} <br>

    {% if current_bid %}
        Current Bid: ${{current_bid}} <br>
    {% endif %}

    {% if form %}
        <form action="{% url 'listing_page' name %}" method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <input type="submit">
        </form>
    {% endif %}

    {% if message %}
        {{message}} <!-- Maybe style this red, Like an error message -->
    {% endif %}

    {% if comment_form %}
        <form action="{% url 'comment' name %}" method="post">
            {% csrf_token %}
            {{comment_form.as_p}}
            <input type="submit">
        </form>
    {% endif %}

    {% if comments %}
        <ul>
            {% for comment in comments %}
                <li>
                    {{comment}}
                </li>
            {% empty %}
                None
            {% endfor %}
        </ul>
    {% endif %}

{% endblock %}